/* General Styling */
.container {
  display: flex;
  height: 100vh;
  font-family: 'Poppins', sans-serif;
}

/* Left Section */
.left {
  flex: 1;
  background: #0056b3;
  color: white;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border-radius: 20px 0 0 20px;
}

.left .highlight {
  font-weight: bold;
  text-align: center;
}

.stars {
  font-size: 20px;
  margin: 10px 0;
}

blockquote {
  font-style: italic;
  margin: 20px 0;
}

.profile {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.button1 {
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button3 {
 background-color: #0056b3; 
 border: 2px solid white;
}

h1{
  font-size: 50px;
}

/* Right Section */
.right {
  flex: 1;
  background: white;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border-radius: 0 20px 20px 0;
  align-items: center;
}

.H2 {
  font-size: 50px;
  font-weight: bold;
  color:#0056b3;
  padding: 25px;
}

.login-box {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 20px;
}
p{
  color:#666;
}

.inputtag{
  width: 500px;
}
input {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.remember {
  padding: 2px;
  font-size: 14px;
}

button {
  background: #0b5ed7;
  color: white;
  padding: 15px 32px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  width: 250px;
  align-items: center;
}

button:hover {
  background: #084aa2;
}

a {
  color: #0b5ed7;
  text-decoration: none;
}

.forgotpass{
  color:#0056b3;
}
a:hover {
  text-decoration: underline;
}

.hi{
  color: white;
}
